<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<title>Product List</title>
</head>

<body>
	<div align="center">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
    <h1>Product List</h1>
    <a href="/admin/new" >Create New Product</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Instock#</th>
                <th >Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${adminlistProd}">
                <td th:text="${product.productId}">Product ID</td>
                <td th:text="${product.productName}">Name</td>
                <td th:text="${product.productPrice}">Price</td>
                <td th:text="${product.instockQty}">Instock#</td>
                <td >
                    <a  th:href="@{'/admin/edit/' + ${product.productId}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/admin/delete/' + ${product.productId}}">Delete</a>
                 </td>
            </tr>
        </tbody>
    </table>
</div>  
</body>
</html>